# Indexação no Pandas
- Método iloc()

- Métod loc()

In [1]:
import pandas as pd

In [3]:
# Criando arquivo/caminho do arquivo
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")

df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

### Indexação de forma direta

- Seleção de uma coluna por nome

In [5]:
df['date']  # Nome do arquivo['nome da coluna']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

- Seleção de múltiplas colunas

In [7]:
df[['date', 'classification']]

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

**=======================================================================**
### Indexação utilizando os métodos

- Indexação por índice (método iloc())

In [8]:
# Selecionando todas as linhas e a coluna 1
# A coluna 1 vai ser 'temperatura'

df.iloc[:, 1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [11]:
# Indexação por índice de múltiplas colunas
df.iloc[:, 1:3]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

*======================================================================*
- Indexação por nome (método loc())

In [9]:
# Selecionando todas as linhas e a coluna 1

df.loc[:, 'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [10]:
# indexação por nome de múltiplas colunas
df.loc[:, ['temperatura', 'classification']]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

# Indexação Booleana no Pandas

In [12]:
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [13]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

___
O tipo da coluna 'date' está como _object_ e isso não é interessante para trabalhar com essa coluna pois o tipo _object_ não tem as funcionalidades de comparações. 

Para isso, precisamos converter esse tipo _object_ para __datetime__
___

In [15]:
# Transformando o tipo da coluna date para datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

**---------------------------------------------------------------------------------------------------------------------------**

- Começando sobre indexação booleana

In [16]:
# seleção de exemplos acima de 25 graus:
df[df['temperatura'] >= 25]

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente

In [19]:
# Indexação booleana considerando datetime

# Definindo (setando) um novo index para o arquivo
df = df.set_index('date')

# Seleção de entradas até Março de 2020
3 df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [20]:
# Indexação booleana considerando datetime

# Seleção de entradas até março de 2020 e slice na coluna classification
df.iloc[df.index <= '2020-03-01', [-1]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente