# Introdução ao Pandas

In [2]:
import pandas as pd

### Leitura de Tipos de Dados

- ***Leitura de dados CSV***

In [25]:
# Leitura dos dados CSV
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

**=======================================================================**

- ***Leitura de Planilhas Excel***

OBS: Por padrão, quando utiliza-se a função ExcelFile, ele não está mais suportando arquivos _xlsx_ e por isso, quando colocar o caminho do arquivo, colocar o seguinte: _engine='openpyxl'_

Além disso, tive que instalar pelo _**pip**_ o seguinte: pip install openpyxl

In [8]:
# Leitura de planilhas excel
# com 2 abas (worksheets)

# Leitura do arquivo todo
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx", engine='openpyxl')

# Leitura da primeira aba (Sheet1)
# dados numéricos com separador decimal = '.' (o que separa as colunas)

df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [10]:
# Leitura da segunda aba (Sheet2)
# dados numéricos com separador decimal = '.'

df3 = pd.read_excel(excel_file, sheet_name='Sheet2', decimal=',')
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

**======================================================================**

### Visualização por linhas do arquivo

OBS: Foi utilizado para ver as linhas especificas o arquivo CSV, mas pode-se usar qualquer um.

In [15]:
# Visualizando as primeiras n linhas
n = 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [16]:
# Visualizando as últimas n linhas
n = 3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

**=======================================================================**
### Algumas conceitos interessantes do Pandas

In [18]:
# dtypes -> ver os tipos de dados de cada coluna
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [19]:
# Ver as estatísticas básicas:
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [20]:
# dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [27]:
# Ver os nomes das colunas
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

In [30]:
# Renomeando os nomes das colunas
df.columns = ['Data', 'Temperatura', 'Classificacao']
df.columns

Index(['Data', 'Temperatura', 'Classificacao'], dtype='object')